@import "bootstrap";
@import "bootstrap/theme";
* {
    margin: 0;
    padding: 0;
}

.fork-me {
    width: 130px;
    top: 0;
    right: 0;
    position: absolute;
}

.row.page-content {
    padding: 100px 0 170px 0;
}

.text-center {
    text-align: center !important;
}

.header {
    margin-bottom: 51px;
}