header.main-header
    a(href="../index2.html").logo
        span.logo-mini
            b 万维科技
        span.logo-lg
            b 万维科技
    nav.navbar.navbar-static-top
        a(data-toggle="offcanvas",role="button").sidebar-toggle
            span.sr-only Toggle navigation
        .navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.messages-menu
                    a.dropdown-toggle(data-toggle='dropdown')
                        i.fa.fa-envelope-o
                        span.label.label-success 4
                    ul.dropdown-menu
                        li.header 你有4条消息
                        li
                            ul.menu
                                li
                                    a
                                        .pull-left
                                            img
                                        h4  sender name
                                            small
                                                i.fa.fa-clock-o 
                                            | 5分钟
                 li.dropdown.messages-menu
                    a.dropdown-toggle(data-toggle='dropdown')
                        i.fa.fa-bell-o
                        span.label.label-success 4
                    ul.dropdown-menu
                        li.header 你有4条消息
                        li
                            ul.menu
                                li
                                    a
                                        .pull-left
                                            img
                                        h4  sender name
                                            small
                                                i.fa.fa-clock-o 
                                            | 5分钟
                     li.dropdown.messages-menu
                        a.dropdown-toggle(data-toggle='dropdown')
                            i.fa.fa-flag-o
                            span.label.label-danger 4
                        ul.dropdown-menu
                            li.header 你有4条消息
                            li
                                ul.menu
                                    li
                                        a
                                            .pull-left
                                                img
                                            h4  sender name
                                                small
                                                    i.fa.fa-clock-o 
                                                | 5分钟

                     li
                    a(href="/admin/login")  
                        i.glyphicon.glyphicon-log-out 登出

                 li 
                    a.btn(data-toggle="control-sidebar")  
                        i.fa.fa-gears
