.warpper
    header.main-header
        a(href="../index2.html").logo
            span.logo-mini
                b A
                | LT
            span.logo-lg
                b Admin
                | LTE
        nav.navbar.navbar-static-top
            a(href="#",data-toggle="offcanvas",role="button").sidebar-toggle
                span.sr-only Toggle navigation
            .navbar-custom-menu
                ul.nav.navbar-nav
                    li
                        a(href="http://almsaeedstudio.com") Almsaeed Studio
                    li 
                        a T
   