doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet' , href='/css/app.css')
  body
    block content
    script(src='/libs/jquery/dist/jquery.min.js') 
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')